.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  /* justify-content: center; */
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.container > div > table {
  width: 100%;
  border: 1px solid;
}
